@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1140px;
    padding: 0 140px;
}
.btn{
    background: red;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    opacity: 0;
}
.btn:hover{
    background: transparent;
    border: 1px solid #fff;
}
.button{
    background: #fff;
    color: #000;
    margin: 8px;
    padding: 17px 2px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #fff;
}
.button:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.active-button{
    background: red;
    color: #fff;
    margin: 10px;
    padding: 17px 4px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.active-button:hover{
    background: transparent;
    border: 1px solid #fff;
}
.half-width{
    width: 50%;
}
/* banner-area */
.banner-area{
    margin-bottom: 120px;
}
.banner-body{
    background: #161616;
}
.banner-body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
    padding: 50px  50px 0px ;
    border-radius: 22px;
}
.banner-content h2 {
    font-size: 56px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 20px;
}
.banner-content p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
}
.banner-img img {
	width: 100%;
	margin-bottom: -5px;
}
.fas.fa-angle-right {
	margin-left: 10px;
}
/* animation */
.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.slide-left{
    animation-delay: 1s;
}
.btn.slide-left{
    animation-delay: 2s;
}
/* blog-area */
.blog-area {
	margin-bottom: 120px;
}
.blog-body{
    display: flex;
}
.single-blog {
	border: 1px solid #E8E8E8;
	border-radius: 8px;
}
.single-blog:hover{
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
}
.blog-button{
    width: 35%;
    height: 265px;
    background: #161616;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.main-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.blog-img img {
	width: 100%;
}
.blog-text {
	padding: 17px;
}
.blog-text a {
	text-decoration: none;
	border: 1px solid #000;
	padding: 6px 20px;
	color: #000;
	margin-top: 10px;
	display: inline-block;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 500;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.fas.fa-clock {
color: #878787;
}
.fas.fa-clock span {
	margin-left: 12px;
    color:#878787;
}
.fas.fa-comment-alt{
    color:#878787;
}
.fas.fa-comment-alt span {
	margin-left: 12px;
    color: #878787;
}
.active-button.show:hover {
	background: #000;
}
/* footer */
footer {
	background: #161616;
	padding: 36px 45px;
}
.footer-content h2{
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #2C2C2C;
    padding: 40px;
    font-size: 35px;
    font-weight: 700;
}
.footer-menu {
	margin-bottom: 45px;
}
.footer-menu ul li a:hover{
    color: red;
}
.footer-menu ul li {
	display: inline-block;
	margin: 10px 30px;
    transition: .3s;
}
.footer-menu ul li a{
	text-decoration: none;
    color: #fff;
	font-size: 13px;
}
.social-icons{
    text-align: center;
}
.social-icons i {
	background: #fff;
	color: #000;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	font-size: 14px;
    transition: .3s;
	border: 2px solid #fff;
	margin: 0 10px;
}
.social-icons i:hover{
	background: transparent;
	color: #fff;
    border: 2px solid #fff;
}
/* .............................................
...............UPCOMING-MATCH_CSS............... */
.upcoming-match-area{
	margin-bottom: 120px;
}
.upcoming-match-area{
    display: flex;
}
.vs {
	display: flex;
	justify-content: center;
	align-items: center;
}
.upcoming-match-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.flag-1 img {
	width: 100%;
}
.flag-2 img {
	width: 100%;
}
.text {
	padding: 0 10px;
}
.single-body {
	border: 1px solid #EBEBEB;
	padding: 36px 24px;
	border-radius: 15px;
}
.blog-button-upcoming{
    width: 21%;
    height: 265px;
    background: #161616;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.single-body:hover{
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
}
          /* ========================================================================
                                         RESPONSIVE
         ============================================================================= */
          @media only screen and (min-width: 300px) and (max-width: 767px){
            /* .banner-area */
            .banner-area {
                margin-bottom: 45px;
            }
            .container {
                padding: 0 25px;
            }
            .banner-body {
                display: block;
            }
            .banner-content h2 {
                font-size: 21px;
                text-align: center;
            }
            .banner-content p {
                font-size: 11px;
                text-align: center;
            }
            .btn {
                padding: 8px 7px;
                margin-left: 51px;
            }
            .btn.slide-left {
                margin-left: 44px;
            }
            /* .blog-area */
            .blog-body {
                display: block;
            }
            .blog-button {
                width: 95%;
                background: none;
            }
            .button {
                padding: 11px 10px;
                font-size: 14px;
                border: 1px solid #E8E8E8;
            }
            .button:hover{
                background: transparent;
                color: #000;
            }
            .active-button:hover{
                color: #000;
            }
            .active-button {
                color: #fff;
                font-size: 16px;
                padding: 12px 4px;
            }
            .main-blog {
                grid-template-columns: repeat(1,1fr);
            }
            /* footer */
            .footer-menu {
                text-align: center;
            }
            /* ......................upcoming-match-area-responsive............. */
            .blog-button-upcoming {
                width: 94%;
                height: auto;
                background: none;
                margin-right: 0;
            }
            .upcoming-match-area {
                display: block;
            }
            .upcoming-match-body {
                grid-template-columns: repeat(1,1fr);
            }
            .footer-menu ul li {
                margin: 10px 55px;
            }
            .active-button.show {
                display: none;
            }
            
        }  
@media only screen and (min-width: 768px) and (max-width: 991px) {
/* .banner-area */
    .banner-area {
        margin-bottom: 45px;
    }
    .banner-content h2 {
        font-size: 22px;
    }
    .banner-content p {
        font-size: 10px;
    }
    .btn {
        padding: 6px 4px;
        font-size: 14px;
    }
    .banner-img img {
        width: 128%;
    }
    .banner-body {
        padding: 50px 50px 13px;
    }
    /* .blog-area */
    .blog-button {
        display: block;
    }
    .blog-body {
        display: block;
    }
    .blog-button {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background: none;
    }
    .active-button {
        padding: 15px 37px;
        font-size: 16px;
    }
    .button {
        padding: 17px 21px;
        border: 1px solid #E8E8E8;
        font-size: 16px;
    }
    .main-blog {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 21px;
    }
    /* footer */
    .footer-menu ul li {
        margin: 10px 23px;
    }
    /* ...........UPCOMING-MATCH_CSS........... */
    .upcoming-match-area {
        display: block;
    }
    .blog-button-upcoming {
        width: 100%;
        height: auto;
        background: none;
        flex-direction: row;
    }
    .upcoming-match-body {
        grid-template-columns: repeat(2,1fr);
    }
    .active-button.show {
        display: block;
        width: 100px;
        margin: 43px auto;
    }
}
 
@media only screen and (min-width: 992px) and (max-width: 1920px){
    .active-button.show {
        display: none;
    }
}